@{
    ViewData["Title"] = "Diary Entries";
}

@model List<DiaryEntryModel>

<h1 class="text-success mb-3">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-end">
            <a class="btn btn-outline-success" asp-area="" asp-controller="DiaryEntries" asp-action="Create">Add Entry</a>
        </div>
    </div>

</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-success">Title</th>
                <th class="text-success">Content</th>
                <th class="text-success">Date</th>
                <th class="text-success">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td class="text-body">@entry.Title</td>
                    <td class="text-body">@entry.Content</td>
                    <td class="text-body">@entry.Date.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-warning" asp-area="" asp-controller="DiaryEntries" asp-action="Edit" asp-route-id="@entry.Id">Edit</a>
                        <a class="btn btn-danger" asp-area="" asp-controller="DiaryEntries" asp-action="Delete" asp-route-id="@entry.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
